.logo {
    a {
        display: flex;
        align-items: center;
        column-gap: 5px;
        font-size: 1.5rem;
        font-family: cursive;
        color: #088178;
        font-weight: 600;
        color: #088178;
        text-decoration: none;
    }
}