.Container {
    background-color: #aeccc5;
    width: 100%;
    .wrapper {
        height: 120px;
        max-width: 1240px;
        width: 100%;
        margin: auto;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        @media screen and (max-width:600px) {
            flex-direction: column;
            row-gap: 15px;
            justify-content: center;
        }
        .left {
            flex: 1;
            display: flex;
            align-items: center;
            column-gap: 10px;
            font-size: 1.3rem;
            color: #000000d1;
            @media screen and (max-width:600px) {
                flex: unset;
            }
        }
        .center {
            flex: 1;
            color: #000000d1;
            @media screen and (max-width:700px) {
                display: none;
            }
        }
        .right {
            flex: 1;
            display: flex;
            align-items: center;
            height: 40px;
            @media screen and (max-width:600px) {
                width: 100%;
                flex: unset;
            }
            input{
                flex: 1;
                height: 100%;
                border: none;
                outline: none;
                background-color: white;
                padding: 5px 10px;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }
            button {
                height: 100%;
                border: none;
                outline: none;
                background-color: black;
                color: white;
                padding: 5px 20px;
                cursor: pointer;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
            }
        }
    }
}